<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{block 'title'}}默认标题{{/block}}</title>
  <link rel="shortcut icon" href="../../public/favicon.ico">
  <link rel="stylesheet" href="../../public/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../public/layui-src/dist/css/layui.css">
  {{block 'head'}}{{/block}}
</head>

<body>
  {{include '../_partials/header.html'}}
  {{block 'body'}}{{/block}}
  {{include '../_partials/footer.html'}}
  <script src="../../public/jquery/jquery-3.2.1.js"></script>
  <script src="../../public/bootstrap/js/bootstrap.js"></script>
  {{block 'script'}}{{/block}}
</body>

</html>
