<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>newsDetail1</title>
	<link rel="stylesheet" type="text/css" href="../public/layui-src/dist/css/layui.css">
	<link rel="stylesheet" type="text/css" href="../public/bootstrap/css/bootstrap.css">
</head>
<body>
	<div style="background:url(../public/img/news3.jpg) no-repeat;background-size:cover;height:300px;"></div><h3 style="width:280px;margin:20px auto;text-align:center;">智慧社区生态建设面临“信息孤岛”</h3><p style="padding:20px;font-size:14px;"><blockquote class="layui-elem-quote">&nbsp;&nbsp;&nbsp;&nbsp;智慧社区是指充分利用物联网、人工智能、大数据、云计算、移动互联网等新一代信息技术的集成应用，为社区居民提供一个安全、舒适、便利的现代化、智慧化生活环境。通过资源整合和数据共享，可以为各管理部门提供相应的业务支撑，形成社区一体化的综合管理和服务。</blockquote>
		<blockquote class="layui-elem-quote">&nbsp;&nbsp;&nbsp;&nbsp;虽然智慧社区已经发展了十余年，围绕着社区业务，众多的硬件厂家、解决方案供应商、系统集成商、运营商推出了各色各样的智慧社区解决方案，有家居、楼宇、安防、医疗、养老等等，但是，大家都在专注于各自擅长的领域。由于业界没有标准，智慧社区中智能产品开发面对多种协议标准的抉择，导致归属不同厂商的不同硬件难以做到相互兼容，不同硬件之间无法交互，彼此形成一个个孤立、分散的“信息孤岛”，限制了社区内各个业务的协同发展。</blockquote>
		<blockquote class="layui-elem-quote">&nbsp;&nbsp;&nbsp;&nbsp;真正意义的智慧社区必然需要通过物联网实现对社区各类信息全面采集;通过人工智能提升居民生活体验，提升社区安全等级;通过大数据、云计算为管理部门实现资源整合、数据共享;通过移动互联网为社区居民、工作人员提供随时随地的便捷服务。</blockquote>
		<blockquote class="layui-elem-quote">&nbsp;&nbsp;&nbsp;&nbsp;对于安防硬件厂商来讲，目前已有相关产品的标准出台，如公安视频联网主要标准：GAT 669 -2008《城市监控报警联网系统技术标准》，GBT28181-2016《公共安全视频监控联网系统信息传输、交换、控制技术要求》，GAT 1400 -2017《公安视频图像信息应用系统》，很好的解决了智慧社区视频、图像相关的互联互通问题。科达智慧社区解决方案提供物联网网关，可以接入视频监控系统之外的其他第三方设备，同时，通过API接口为第三方系统提供视频、图片和数据服务，为智慧社区各类硬件产品的互联互通及各个智能系统的整合，打下夯实的技术基础。</blockquote>

　　

　　

　　
</body>
</html>
