<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智慧物业</title>
    <link rel="shortcut icon" href="../public/favicon.ico">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../public/layui-src/dist/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/css/base.css">
    <link rel="stylesheet" type="text/css" href="../public/css/solution_zhwy.css">


    <script src="../public/jquery/jquery-3.2.1.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
    <script src="../public/js/common.js"></script>
    <script src="../public/js/solution_zhwy.js"></script>


    
</head> 

<body>

<!-- 回到顶部开始 -->
    <a href="#" id="toTop" style="display: none;">
        <span id="toTopHover" style="opacity: 0;"></span>
        ToTop
    </a>
<!-- 回到顶部结束 -->

<!-- head开始 -->
    <header> 
        <div class="nav">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="./">首页</a></li>
                <li class="layui-nav-item layui-this">
                    <a href="">解决方案</a>
                    <dl class="layui-nav-child"> 
                      <dd><a href="">智慧物业</a></dd>
                      <dd><a href="">智慧商业</a></dd>
                      <dd><a href="">智慧生活</a></dd>
                      <dd><a href="">智慧城市</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">产品中心</a>
                    <dl class="layui-nav-child"> 
                      <dd><a href="">物业云</a></dd>
                      <dd><a href="./ProductDetails.html" target="_blank">智能家居</a></dd>
                      <dd><a href="">社区管理系统</a></dd>
                      <dd><a href="">楼宇对讲系统</a></dd>
                      <dd><a href="">人脸一卡通</a></dd>
                      <dd><a href="">智慧交通系统</a></dd>
                      <dd><a href="">智慧餐厅</a></dd>
                      <dd><a href="">智慧医疗系统</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">社区中心</a></li>
                <li class="layui-nav-item"><a href="">关于我们</a></li>
                <li class="logo">
                   <a href="./"></a>
                </li>
            </ul>
        </div>     
    </header>
    <script src="../public/layui-src/dist/layui.js" charset="utf-8"></script>
<!-- head结束 -->

<!-- 轮播开始 -->
    <div class="carousel" id="carousel">
        <div class="carousel-title hidden" id="carousel-title">
            <h1>智慧物业综合解决方案</h1>
            <h5>未来智慧社区综合解决方案，员工在线，服务在线，管理在线，业主在线，设备在线。五个在线，为企业增效，为员工赋能。</h5>
        </div>
    </div>
<!-- 轮播结束 -->

<!-- 社区物业解决方案开始 -->
    <div class="meal-sol">
        <div class="w">
            <div class="meal-top">
                <h2>社区物业解决方案</h2>
            </div>
            <div class="meal-stop clearfix">
                <div class="meal-sleft">
                    <p>
                        <span class="leftspan">传统物业</span>管理诟病
                    </p>
                </div>
                <div class="arrow"></div>
                <div class="meal-sright">
                    <p>
                        <span class="rightspan">解决传统</span>物业问题
                    </p>
                </div>
            </div>
            <div class="meal-compare">
                <ul class="clearfix ul1">
                    <li class="li-left" id="ul1-left">
                        <i style="background:url(../public/img/i1.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>物业服务项目不全</h2>
                            <p>大部分物业仅能满足基本的物业管理项目，例如物业缴费、门禁管理等，没有能力完善社区服务提供社区生活质量。</p>
                        </div>
                    </li>
                    <li class="li-right" id="ul1-right">
                        <i style="background:url(../public/img/i11.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>物业服务一应俱全</h2>
                            <p>实现线上管理功能，例如业主信息管理、物业缴费、线上报修等基本功能，并且支持多元化完善社区服务，社区便民服务、社区新闻资讯、社区生活商圈等。</p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix ul2">
                    <li class="li-left" id="ul2-left">
                        <i style="background:url(../public/img/i2.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>人工管理压力大</h2>
                            <p>物业管理工作完全依赖人工管理，甚至需要24小时人工值班，导致人力成本多高。</p>
                        </div>
                    </li>
                    <li class="li-right" id="ul2-right">
                        <i style="background:url(../public/img/i22.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>智能化管理节省人力成本</h2>
                            <p>智能化应用是将物业硬件设备与社区O2O系统对接，通过系统直接管理社区硬件，达到降低工作量减少人力的目的，例如智能门禁、智能摄像头等。</p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix ul3">
                    <li class="li-left" id="ul3-left">
                        <i style="background:url(../public/img/i3.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>物业服务质量跟不上</h2>
                            <p>服务项目缺失、人员不足、管理技术不足、缺乏工作积极性等多方面原因，导致物业工作效率低和敷衍工作的情况。</p>
                        </div>
                    </li>
                    <li class="li-right" id="ul3-right">
                        <i style="background:url(../public/img/i33.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>O2O模式确保服务质量</h2>
                            <p>O2O模式融合线上线下，在线下单，线下完成，并通过O2O特有的激励方式，确保工作效率与服务质量，例如配送服务、抢单报修等。</p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix ul4">
                    <li class="li-left" id="ul4-left">
                        <i style="background:url(../public/img/i4.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>社区环境管理困难</h2>
                            <p>社区周边商家质量参差不齐，物业管理人员无法统一管理，导致社区环境混乱复杂，甚至影响到社区内部。</p>
                        </div>
                    </li>
                    <li class="li-right" id="ul4-right">
                        <i style="background:url(../public/img/i44.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>社区平台整合周边商家</h2>
                            <p>物业通过社区O2O系统后台管理功能，整合周边商家，既能完善社区商圈更能获取一定招商加盟费用。</p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix ul5" >
                    <li class="li-left" id="ul5-left">
                        <i style="background:url(../public/img/i5.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>投资高，回报低</h2>
                            <p>物业工作量大且繁杂，即使提高人力物力的投资仍然无法完善物业服务；盈利模式单一，依靠物业缴费以及少量广告位等方式艰难维持。</p>
                        </div>
                    </li>
                    <li class="li-right" id="ul5-right">
                        <i style="background:url(../public/img/i55.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>低投资，高回报</h2>
                            <p>一次投资永久回报，大幅度降低人力物力的投资成本；相对于传统物业人工管理工作效率更高，盈利方式更多。</p>
                        </div>
                    </li>
                </ul>
                 <ul class="clearfix ul6" >
                    <li class="li-left" id="ul6-left">
                        <i style="background:url(../public/img/i6.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>业主缺少归属感</h2>
                            <p>缺乏交流，社区业主间没有交流空间，业主与物业之间没有沟通方式；业主黏度低，物业服务质量低，业主感受差。</p>
                        </div>
                    </li>
                    <li class="li-right" id="ul6-right">
                        <i style="background:url(../public/img/i66.png) center no-repeat;"></i>
                        <div class="mid-text">
                            <h2>社区业主黏度高</h2>
                            <p>社区平台提供业主线上交流区域，加强邻里间的沟通；业主通过社区O2O平台足不出户就能完成物业功能，同时获得更多社区服务改善社区生活，所以业主根本离不开社区平台。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- 社区物业解决方案结束 -->

<!-- 社区物业主要功能开始 -->
    <div class="meal-sol meal-fun">
        <div class="w">
            <div class="meal-top">
                <h2>社区物业主要功能</h2>
            </div>
            <div class="function row">
                <div id="f-img1" class="f-img col-md-7 col-sm-7" style="background: url(../public/img/f1.jpg) top center no-repeat;background-size: cover;margin-left:-999px;"></div>
                <div class="f-detail col-md-5 col-sm-5">
                    <div class="f-detail-hd">
                        <img src="../public/img/r1.png">
                        <h5>无需电话费力沟通，开门、缴费、报修一键搞定。</h5>
                    </div>
                    <div class="f-ul clearfix">
                        <a href="#">
                            <li class="f-li f-li1"  id="f-li1" style="margin-left:999px;">
                                <i style="background: url(../public/img/fun1.png) center no-repeat"></i>
                                <p>智能门禁</p>
                            </li>
                        </a>
                        <a href="#">
                            <li class="f-li f-li2" style="margin-right: 0;margin-left:999px;" id="f-li2">
                                <i style="background: url(../public/img/fun2.png) center no-repeat"></i>
                                <p>顾客来访</p>
                            </li>
                        </a>
                        <a href="./repair.html" target="_blank">
                            <li class="f-li f-li3"  id="f-li3" style="margin-left:999px;">
                                <i style="background: url(../public/img/fun3.png) center no-repeat"></i>
                                <p>一键报修</p>
                            </li>
                        </a>
                        <a href="#">                            
                            <li class="f-li f-li4" style="margin-right: 0;margin-left:-999px;" id="f-li4">
                                <i style="background: url(../public/img/fun4.png) center no-repeat"></i>
                                <p>水电缴费</p>
                            </li>
                        </a>
                    </div>
                </div>
            </div>    
            <div class="function row">
                <div id="f-img2" class="f-img col-md-7 col-sm-7" style="background: url(../public/img/f2.jpg) top center no-repeat;background-size: cover;margin-right: -999px;float:right;"></div>   
                <div class="f-detail col-md-5 col-sm-5" style="float: right;">
                    <div class="f-detail-hd">
                        <img src="../public/img/r2.png">
                        <h5>通过业主认证，整合各大平台资源，为业主提供更优质的服务与投诉服务。</h5>
                    </div>
                    <div class="f-ul clearfix">
                        <a href="#">
                            <li class="f-li f-li5" id="f-li5" style="margin-left:-999px;">
                                <i style="background: url(../public/img/fun5.png) center no-repeat;"></i>
                                <p>团购</p>
                            </li>
                        </a>
                        <a href="#">
                            <li class="f-li f-li6" id="f-li6" style="margin-right: 0;margin-left:-999px;">
                                <i style="background: url(../public/img/fun6.png) center no-repeat"></i>
                                <p>快递服务</p>
                            </li>
                        </a>
                        <a href="#">
                            <li class="f-li f-li7" id="f-li7" style="margin-left: -999px;">
                                <i style="background: url(../public/img/fun7.png) center no-repeat"></i>
                                <p>业主认证</p>
                            </li>
                        </a>
                        <a href="./complain.html" target="_blank">
                            <li class="f-li f-li8" id="f-li8" style="margin-right: 0;margin-left: -999px;">
                                <i style="background: url(../public/img/fun8.png) center no-repeat"></i>
                                <p>业主投诉</p>
                            </li>
                        </a>
                    </div>
                </div>          
            </div> 
        </div>
    </div>
<!-- 社区物业主要功能结束 -->
<script>
    layui.use('element', function(){
      var element = layui.element;
    });
</script>

<!-- 底部栏开始 -->
    <footer>
        <div class="container">
            <div class="footer-row row">
                <div class="col-md-6 footer-row-left">
                    <h4>Future Community</h4>
                </div>
                <div class="col-md-6 footer-row-right">
                    <form>
                        <input type="email" name="Email" placeholder="邮箱......" required="">
                        <input type="submit" value="确认提交">
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="col-sm-4 col-xs-4 footer-grids" style="padding-left: 0;">
                    <p>该网页系统还有很多没有完善的地方，后期会逐一完善各项功能与子页面。<span  style="color:#337ab7;letter-spacing:1px;">The web system has a lot of not perfect place, the later will be one by one to improve the functions and sub-pages.</span></p>
                    <h4>地址:<span style="color:#337ab7">广东技术师范大学</span></h4>
                </div>
                <div class="col-sm-4 col-xs-4 footer-grids footer-mdl">
                    <div class="col-md-12 col-xs-12 grid-left">
                        <ul>
                            <li><a href="./"><i class="fa fa-angle-right"></i>首页</a></li>
                            <li><a href="./"><i class="fa fa-angle-right"></i>社区中心</a></li>
                            <li><a href="./"><i class="fa fa-angle-right"></i>关于我们</a></li>
                            <li><a href="./"><i class="fa fa-angle-right"></i>招商合作</a></li>
                        </ul>   
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-sm-4 col-xs-4 footer-grids" style="padding: 0 2em 0 4em;">
                    <ul>
                        <li class="phn">Phone: 13202547840</li>
                        <li class="email">Email: 1055409382@qq.com</li>
                    </ul>
                    <p>Copyright © 2019.Cwlojako</p>
                </div>
            </div>
        </div>
    </footer>
<!-- 底部栏结束 -->

</body>

</html>
